# Configuración del servidor
PORT=3000
NODE_ENV=development

# Configuración de la base de datos
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=root
DB_NAME=sabor_db_1
DB_PORT=3306

# Configuración de JWT
JWT_SECRET=MiSuperClaveSecretaMuyLargaYUnica123!@
JWT_EXPIRES_IN=24h

# Configuración de CORS
CORS_ORIGIN=http://localhost:5173

# Configuración de cookies
COOKIE_SECRET=MiSuperClaveSecretaMuyLargaYUnica123!@

EMAIL_USER=durangogabriel8@gmail.com
EMAIL_PASSWORD=duit tqoj ical nbpo

FRONTEND_URL=http://localhost:5173  
onfiguración del servidor
PORT=3000
NODE_ENV=development

# Configuración de la base de datos
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=root
DB_NAME=sabor_db_1
DB_PORT=3306

# Configuración de JWT
JWT_SECRET=MiSuperClaveSecretaMuyLargaYUnica123!@
JWT_EXPIRES_IN=24h

# Configuración de CORS
CORS_ORIGIN=http://localhost:5173

# Configuración de cookies
COOKIE_SECRET=MiSuperClaveSecretaMuyLargaYUnica123!@

EMAIL_USER=sabor.software@gmail.com
EMAIL_PASSWORD=ttvv hwlq gevd fxsz


FRONTEND_URL=http://localhost:5173  
MERCADOPAGO_ACCESS_TOKEN=TEST-2675350345028368-072418-6ec105066a059fa3fd56aac3c35d7c39-2107333883