# Configuración del servidor
PORT=
NODE_ENV=

# Configuración de la base de datos
DB_HOST=
DB_USER=
DB_PASSWORD=
DB_NAME=
DB_PORT=

# Configuración de JWT
JWT_SECRET=
JWT_EXPIRES_IN=

# Configuración de CORS
CORS_ORIGIN=

# Configuración de cookies
COOKIE_SECRET=